.idea
.ipynb_checkpoints
workspace/*.pki
workspace/__pycache__
workspace/plan
workspace/save
workspace/logs
workspace/.ipynb_checkpoints
director_folder/market_test_experiment
envoy_folder/src
envoy_folder/one/__pycache__
envoy_folder/two/__pycache__
